body {
    background: #ecf0f1;
    font-family: serif;
}

.typeform {
    width: 700px;
    height: 150px;
    background: #34495e;
    border-radius: 3px;
    border: 5px solid #2980b9;
    box-shadow: 0 0 3px black inset;
    padding: 5px;
}

.question {
    display: block;
    color: white;
    margin: 0;
}

.typeform__checkbox {
    display: block;
}

.btn {
    width: 80px;
    height: 40px;
    text-transform: uppercase;
    margin-top: 20px;

}